.container.mini-frame
  %p
    %h3.text-center
      %small Our Inspiration
      %br/
      Realisation of Indian Nationalism by Aurobindo 
  %p
    %p
      Sri Aurobindo played a remarkable role in the rise of nationalism in India at the end of the nineteenth century and beginning of the twentieth century. He realised the danger of Anglo-Indian bureaucracy criticised it vigorously in “Bande Mataram” journal. This journal became first of it’s kind and so rallying point for many nationalists. Sri Aurobindo at the age of 23 launched a vitriolic attack on our national body, Indian National Congress, through a series of pungent articles written under the title of “New Lamps for the Old” which were published in the Indu Prakash from 1893 to 1894 in Bombay. These articles became first lightening source of knowledge of Indian nationalism beyond visualisation of British idea of India who never realised India as a nation. In his writings, Aurobindo always criticised Congress for not being national enough.
    %p
      Sri Aurobindo believed that Indian people speak diverse languages, profess different creeds, and practise sundry religions. The Hindu religious community is a conglomeration of various sects and creeds that prohibits the unitary growth of Indian nationalism. Even then he assured the people that inspired by a common enthusiasm and ideal, the whole history of India with her rich legacy had been a preparation for the formation of a united nationality. In his considered view, a nation cannot be ‘made’ because it is an organism. He observed the national leaders embodying a national force that expresses itself in an opportune moment. He laughed at the folly of the colonial bureaucracy in India for crushing the Nationalist aspiration of Indian masses by deporting nationalist leaders like Bal Gangadhar Tilak and Lajpat Rai. Sri Aurobindo believed that the repressive measures adopted by the British Government for intimidation to strike terror at the root of nationalism would only facilitate all the more the growth and spread of Nationalism in India. To the surprise of many, he insightfully said that national regeneration of India could just not have been possible had the colonial rulers been merciful towards the masses.
    %p
      Bankim, like Vivekananda, Tilak and Sri Aurobindo, upholds Hinduism in its own right as the greatest of all religions. He stresses the need for a national religion based on new moral ideals that would lead to the establishment of a new national character. Since neither language nor racial difference is a suitable device for the creation of national solidarity, Bankim argues that in the context of India the spread of Hinduism alone will be an effective cultural foundation of Indian nationhood. Sri Aurobindo and Bankim posit faith in the divinity of the motherland.
    %p
      Sri Aurobindo’s concerted efforts in spreading the passive resistance to the unjust colonial rule herald Gandhian programme of Satyagrah carried out nationwide in India that ultimately triumphs over British colonial power. Both philosophise mass resistance to oppressive state authority. Gandhi’s strenuous efforts to obliterate the division of caste and the “deadly sins of untouchability” from Indian society were a radical step that facilitated the growth and rapid spread of Indian nationalism.
    %p
      Ideas of Aurobindo guide us in realising us as an Indian. His views on Indian nationalism shaped India as a nation, and so we take him as an inspiration for us.
    %p
      (Refered to On nationalism by Sri Aurobindo)
  %p
    .btn= link_to 'Back', root_path
