%section#content
  .container
    .row
      %h2.text-center
        Welcome to
        %strong Ideas 2020
      .col-md-12
        %p
          Students are the future of India, and so it becomes essential to hear their ideas for improvement in our society and so in India.
          Ideas 2020 is a platform for young minds to present their ideas for improvements in our society.
          It is a competition to discuss the proposed change in our surroundings.
          It includes online discussions on the ideas thrown up for brainstorming by participants from different backgrounds.
          In the expected entries, we are looking for novelty, innovation and feasibility.
          From the entries in the competition, we will be selecting the top 10 disruptive ideas which will be availed the chance to present their ideas in the final round in front of experienced judges.
    / divider
    .row
      .col-md-12
        .solidline
    / divider
    .row
      .col-md-12
        %p
          %b Process of Participation
          %br/
          There is no age limit or any other criteria to participate in this event.
          %b To participate in this event, you need to write your idea for change in 500-2000 words. 
          Ideas should be kept in a simple form to make the audience understand that easily.
          %b 
            To participate in the event, upload your writeup in doc/docx/pdf formation 
            =link_to "here", new_ideas2020_url
            \. 
          %br/
          %br/
          After primary review of your writeup, you will be provided with a link where your idea will be discussed among masses.
          Participants are expected to participate in that discussion.
          They can also invite their friends to discuss their ideas.
          Comments made by participants will be a criterion for selection in the final round.
          Our judges will select the top 10 participants for the final round where a debate will be conducted on ideas of participants with students and professors.
    / divider
    .row
      .col-md-12
        .solidline
    / divider
    .row
      .col-md-12
        %p
          %b Awards
          %br/
          Winner of this compitition will be given cash prize of Rs 1000 along with trophy and certificate.
          %br/
          Top three participents will be given trophy.
          %br/
          Top 10 participaents will be given consolation prize along with certificate of appriciation.
    / divider
    .row
      .col-md-12
        .solidline
    / divider
    .row
      .col-md-12
        %p
          %b Timeline
          %br/
          Last date of submission: 12 January 2020
          %br/
          Online debate schedule:  12 January 2020 - 26 January 2020
          %br/
          Final Round and award distribution: 31 January 2020
    / divider
