.row.free-papers-section
  .col-md-12
    .text-center
      Free placement papers released now! View these papers at
      = link_to "Free placement papers", question_papers_path
%section#featured
  / start slider
  / Slider
  #nivo-slider
    .sliding-background
    .container
      .row
        .col-md-12
          / Slide #1 caption
          #caption-1.nivo-caption
            %div.nivo-caption-content
              %h2
                Welcome
                %br/ 
                %strong Join the community
              %p
                %ul
                  %li Spread across more then 30 national institutions
                  %li Saperate segments for each activities
                  %li Expert support and guidance
                  %li A continuous evolement process
              %a.btn.btn-theme{:href => "/users/sign_up"} Join now
  / end slider
  .row
    .col-md-12.col-sm-12.col-xs-12
      .col-md-offset-2.col-xs-offset-2.col-md-2.col-sm-2.col-xs-2 Follow us
      .col-md-2.col-sm-2.col-xs-2
        %a{ "href"=> "https://www.facebook.com/thinkindianitr", "data-original-title" => "Facebook", "target"=> "_blank"}
          %i{ "class" => "icon-facebook icon-64" }
      .col-md-2.col-sm-2.col-xs-2
        %a{ "href"=> "https://twitter.com/thinkindianitr", "data-original-title" => "Twitter", "target"=> "_blank"}
          %i{ "class" => "icon-twitter icon-64" }
      .col-md-2.col-sm-2.col-xs-2
        %a{ "href"=> "https://www.instagram.com/thinkindia.nitr/", "data-original-title" => "Instagram", "target"=> "_blank"}
          %i{ "class" => "icon-desktop icon-64" }
  / divider
  .row
    .col-md-12
      .solidline

%section#content
  .container
    .row
      .col-md-12
        .row
          .col-md-12
            %h3.text-center 
              %u What We Do
        .row
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-briefcase.icon-circled.icon-64.active
              .text
                %h6 Events
                %p
                  We organise seminar, workshops, compititions, NIT Talks and events to bring awareness about socioeconomic issues. 
                /%a{:href => "#"} Learn more
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-desktop.icon-circled.icon-64.active
              .text
                %h6 Internships
                %p
                  Provide internships in various policy making and research institutions, NGO's, Media houses and successful startups.
                /%a{:href => "#"} Learn more
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-beaker.icon-circled.icon-64.active
              .text
                %h6 Training
                %p
                  With our in-house and external expertise we provide training to students to bring quality in their fields.
                /%a{:href => "#"} Learn more
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-coffee.icon-circled.icon-64.active
              .text
                %h6 Publications
                %p
                  Help students to publish their research articles.
                /%a{:href => "#"} Learn more
    / divider
    .row
      .col-md-12
        .solidline
    / end divider
    / Portfolio Projects
    .row
      .col-md-12
        %h4.heading.text-center
          Some of our recent
          %strong works
        .row
          %section#projects
            %ul#thumbs.portfolio
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-0", "data-type" => "web"}
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/youth-society-and-ehtrepreneurship-thumb.JPG"), :title => "Talk on Youth Society and Entrepreneurship"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "6th September 2019: Prof. Mahadeo Jaiswal (Director, IIM Sambalpur) delivered speech on role of youth in serving society through Entrepreneurship.", :src => asset_path("works/youth-society-and-ehtrepreneurship-thumb.JPG")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-1", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/Inductions-thumb.jpg"), :title => "Induction 2019"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "12th September 2019: It was our first induction.", :src => asset_path("works/Inductions-thumb.jpg")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-2", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/aparajita-sarangi.JPG"), :title => "Meeting with Aprajita Sarangi"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "8th August 2019: Think India welcomed Bhubneshwar MP Aprajita Sarangi at NIT Rourkela.", :src => asset_path("works/aparajita-sarangi.JPG")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-3", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/dharmendra-pradhan.JPG"), :title => "Meeting with Dharmendra Pradhan"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "29th September 2019: Think India meet with Union Cabinet Minister Dharmendra Pradhan and greeted him in NIT Rourkela.", :src => asset_path("works/dharmendra-pradhan.JPG")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-4", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/aashish_chauhan.JPG"), :title => "A talk by Aashish Chauhan"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "21 October 2019, Think India NITR managed talk by Aashish Chauhan", :src => asset_path("works/aashish_chauhan.JPG")}/
              / End Item Project
    / End Portfolio Projects

    / Portfolio Projects
    .row
      .col-md-12
        %h4.heading.text-center
          %u Get Involved
        = render "home/join_us"
