%section#featured
  / start slider
  / Slider
  #nivo-slider
    .nivo-slider
      / Slide #1 image
      %img{:alt => "", :src => asset_path("slides/nivo/bg-1.jpg"), :title => "#caption-1"}/
      / Slide #2 image
      %img{:alt => "", :src => asset_path("slides/nivo/bg-2.jpg"), :title => "#caption-2"}/
      / Slide #3 image
      %img{:alt => "", :src => asset_path("slides/nivo/bg-3.jpg"), :title => "#caption-3"}/
    .container
      .row
        .col-md-12
          / Slide #1 caption
          #caption-1.nivo-caption
            %div
              %h2
                %small Our Inspiration
                %br/ 
                %strong Netaji Subhash Chandra Bose
              %p
                तुम मुझे खून दो, मैं तुम्हें आज़ादी दूंगा
              %a.btn.btn-theme{:href => "/home/subhas"} Read More
          / Slide #2 caption
          #caption-2.nivo-caption
            %div
              %h2
                %small Our Inspiration
                %br/ 
                %strong Sardar Patel
              %p
                Prime responsibility of every citizen to feel that his country is free and to defend it's freedom is his duty.

              %a.btn.btn-theme{:href => "/home/patel"} Read More
          / Slide #3 caption
          #caption-3.nivo-caption
            %div
              %h2
                %small Our Inspiration
                %br/ 
                %strong Shri Aurobindo
              %p
                By our stumbling the world is perfected.
              %a.btn.btn-theme{:href => "/home/aurobindo"} Read More
  / end slider
%section.callaction#services
  .container
    .row
      .col-md-12
        .big-cta
          .cta-text
            %h3.text-center
              We are Think India and
              %col-md-.highlight
                %strong We think for INDIA!
%section#content
  .container
    .row
      .col-md-12
        .row
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-briefcase.icon-circled.icon-64.active
              .text
                %h6 Events
                %p
                  We organise seminar, workshops, compititions, NIT Talks and events to bring awareness about socioeconomic issues. 
                /%a{:href => "#"} Learn more
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-desktop.icon-circled.icon-64.active
              .text
                %h6 Internships
                %p
                  Provide internships in various policy making and research institutions, NGO's, Media houses and successful startups.
                /%a{:href => "#"} Learn more
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-beaker.icon-circled.icon-64.active
              .text
                %h6 Training
                %p
                  With our in-house and external expertise we provide training to students to bring quality in their fields.
                /%a{:href => "#"} Learn more
          .col-md-3
            .box.aligncenter
              .aligncenter.icon
                %i.icon-coffee.icon-circled.icon-64.active
              .text
                %h6 Publications
                %p
                  Help students to publish their research articles.
                /%a{:href => "#"} Learn more
    / divider
    .row
      .col-md-12
        .solidline
    / end divider
    / Portfolio Projects
    .row
      .col-md-12
        %h4.heading
          Some of recent
          %strong works
        .row
          %section#projects
            %ul#thumbs.portfolio
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-0", "data-type" => "web"}
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/youth-society-and-ehtrepreneurship-thumb.JPG"), :title => "Talk on Youth Society and Entrepreneurship"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "6th September 2019: Prof. Mahadeo Jaiswal (Director, IIM Sambalpur) delivered speech on role of youth in serving society through Entrepreneurship.", :src => asset_path("works/youth-society-and-ehtrepreneurship-thumb.JPG")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-1", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/Inductions-thumb.jpg"), :title => "Induction 2019"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "12th September 2019: It was our first induction.", :src => asset_path("works/Inductions-thumb.jpg")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-2", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/aparajita-sarangi.JPG"), :title => "Meeting with Aprajita Sarangi"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "8th August 2019: Think India welcomed Bhubneshwar MP Aprajita Sarangi at NIT Rourkela.", :src => asset_path("works/aparajita-sarangi.JPG")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-3", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/dharmendra-pradhan.JPG"), :title => "Meeting with Dharmendra Pradhan"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "29th September 2019: Think India meet with Union Cabinet Minister Dharmendra Pradhan and greeted him in NIT Rourkela.", :src => asset_path("works/dharmendra-pradhan.JPG")}/
              / End Item Project
              / Item Project and Filter Name
              %li.item-thumbs.col-md-3.design{"data-id" => "id-4", "data-type" => "icon"}
                / Fancybox - Gallery Enabled - Title - Full Image
                %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => asset_path("works/aashish_chauhan.JPG"), :title => "A talk by Aashish Chauhan"}
                  %col-md-.overlay-img
                  %col-md-.overlay-img-thumb.font-icon-plus
                / Thumb Image and Description
                %img{:alt => "21 October 2019, Think India NITR managed talk by Aashish Chauhan", :src => asset_path("works/aashish_chauhan.JPG")}/
              / End Item Project
    / End Portfolio Projects
