.container.mini-frame
  %p
    %h3.text-center
      %small Our Inspiration
      %br/
      Unity in diversity by Patel 
  %p
    %p
      Patel played a vital role in territorial consolidation of India. He believed religion and patriotism are a supplement to each other. The realisation of India was incomplete with separation of religion and patriotism (nationalism) as he felt both as articles of faith. Patel's patriotism was more nationalistic them merely being loyal to the state.  In his realisation of India, he didn't leave any part of India distinct from others and connected all of them with single administrative power and unique identity which was India.
    %p
      To quote him, "We are all knit together by bonds of blood and feeling no less than of self-interest. None can segregate us into segments: no impassable barriers can be set up between us." It shows he believed religion and nationalism are based on fraternity and dedication and thus are inseparable. Patel believed in a true religious patriotism (nationalism) which was based on moral values and freedom. In his theological thought, there was no place of fear in the physical world. But, he realised that people must fear only almighty God. He further declared that "If there is a grace of God, then even a bad deed yields good result." In this way, he believed in God and the moral values which reflects his religious outlook.
    %p
      Going through different discourses of Patel, we observe that extremist leader of Indian freedom movement like Tilak also expounded the idea of divine loyalty towards the nation. Patel was a notch nationalist like Tilak and Aurobindo Ghose. With this, Patel favoured the popular democracy for the Indian masses. He argued that "There could be Rulers only if the people recognised them as such. The Rulers must move with the times. They should cease to be frogs in the wells. These are the days of democracy. The Rulers must put their trust in the people." He suggested that liberty, equality and justice are the basic tenants of democracy. All this together build up bases for realisation of a nation.
    %p
      Patel was not a communal Hindu. He never encouraged discrimination between Hindu and Muslim community. He believed in a secular vision of life. At the time of Pakistan's aggression, he said, "I am a true friend of the Muslims, but I want them to give practical proof of their loyalty to India." It reflects that he believed in reality and purity of the community and hated confusion. He further argued that, "... we have to forget the differences between caste and caste, religion and religion, community and community and be united and shed fear." Therefore, he believed in the friendly and pure relation among all communities to make India a strong and powerful nation. Patel supported secularism for the development of India. His idea of secularism was based on attachment and faith in the idea of the nation.
    %p
      These values inspire us in our daily life, and we take Sardar Ballab Bhai Patel as an inspiration in our daily activities.
    %p
      (Refered to Socio-political views of Patel from http://hdl.handle.net/10603/128362)
  %p
    .btn= link_to 'Back', root_path
