.container.mini-frame
  %p
    %h3.text-center
      %small Our Inspiration
      %br/
      Subhas's India
  %p
    Netaji Subhas was the among first intellectuals who had seen India beyond views of customary British historians. He envisioned India as a nation with a long history. He believed that neither the individual nor a nation could have an uninterrupted career of progress and prosperity. India, during the colonial era and Mughal era, has lost its peak, which it should thrive to attain. He believed opposition to British rule with strong unity across the nation shows that people can connect themselves to India and feeling conquered for the first time in history. Though geographically, ethnologically and historically there is enormous diversity in India for any visitor, there is none the less sense of unity in India culturally. Bounded by Himalaya in the north and two oceans in the south, India presents the best example of geographical unity. The prevalence of Hindu religion very well balances the ethnic diversity of India. Historically there may be different kings and chiefs ruling over their region. But, all these regions were connected through culture and religion always. Pilgrimage of Hindu has been connecting Setubandha Rameshwara in the south and Badrinath in the north. Mohammedans didn't accept the faith, but they took the culture very well to become a part of India.  This acceptance is evident where most countries in the world have lost their religion and culture after the Islamic conquest, in India, Hinduism and Indian culture has remained quite flourishing. 
    %p
      He cites M. N. Jaiswal to claim India was politically united under one emperor despite having regional and local power centres since a very long time. A typical pattern in Indian polity had been minimum interference of state in daily life execution of people. British have violated this tradition by touching every aspect of the lives of ordinary people. 
    %p
      Bose believed that nationalist wars in seventeenth, eighteenth and nineteenth centuries in Europe gave them a considerable improvement in science, arts of war and racial ideas. It was the primary reason which made them able to conquest India. British invasion in India was not only political arena but was made in social, knowledge system and religion too. Losing its purity, India became further weaker. To gain the glory of India back, India has to purify first, which is only possible through selfless efforts and sacrifices. He called all the people of India "Tum mughe khoon do, Main tumhe aajadi dunga". Here the aajadi of Bose was the realisation of India as a nation with autonomy and establishment of state of people. 
    %p
      These ideas of Bose, inspire us continuously and push us to deliver for the nation.
    %p
      (Refered to "The Indian Struggle 1920-1942" by Subhas Chandra Bose)
  %p
    .btn= link_to 'Back', root_path
