= render "layouts/top_bar", content: "Get in touch with us, we love to talk"
.container
  .col-md-12
    .col-md-6
      = render 'form'
    .col-md-4
      %b Address:
      %br/
      Think India,
      %br/
      SAC, NIT Rourkela
      %br/
      Contact No: +91-944-129-6505

