/ toggle top area
.hidden-top
  .hidden-top-inner.container
    .row
      .col-md-12
        %ul
          %li
            %strong We are eager to work with all who are interested in making India a better places.
          %li Connect with us at Think India NIT Rourkela
          %li
            Call us
            %i.icon-phone
            +91-944-129-6505
/ end toggle top area
