%ul.nav.navbar-nav.navbar-right
  %li
    %a{:href => root_path} Home
  %li
    %a{:href => news_and_events_path} News & Events
  %li.dropdown
    %a.dropdown-toggle{"data-target" => "dropdown", "href" => "#",  "aria-haspopup"=>"true", "aria-expanded"=>"false", "role" => "button"} 
      Gallery
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: gallery_pics_path(collection: 'Think India') } Think India Gallery
      %li
        %a{href: gallery_pics_path(collection: 'Innovision 2019') } Innovision 2019
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"} 
      Discussion
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "/ideas-2020"} Ideas 2020
      %li
        %a{:href => "/forum"} Forum
      %li
        %a{:href => "/blogs"} Blog
  %li
    %a{:href => about_path} About Us
  %li
    %a{:href => new_contact_path} Contact
  - if current_user && current_user.admin
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#"} 
        Admin
        %span.caret
      %ul.dropdown-menu
        %li= link_to "Users", admin_users_path
        %li= link_to "Gallery Pics", admin_gallery_pics_path
        %li= link_to "Applications", application_forms_path
        %li= link_to "Contacts", contacts_path
  
