%header
  .container
    %nav.navbar.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggler{"type"=>"button", "class"=>"navbar-toggle collapsed", "data-toggle"=>"collapse", "data-target"=>".navbar-collapse", "aria-controls"=>"navbarSupportedContent", "aria-expanded"=>false}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .logo-container
            %a.text-center{:href => root_path}
              %img.logo{:alt => "", :src => asset_path("logo.png")}/
        #navbarSupportedContent.collapse.navbar-collapse
          = render "layouts/top_navigation"
